.box {
  height: 200px;
  width: 200px;
  overflow: auto;
  background-color: #f00;
}
.products--grids {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.card img {
  width: 100%;
  border-radius: 10px;
}

.card h2, p {
  margin: 0;
}

.container {
  padding: 2px 16px;
}

.message-error {
  background: red;
  color: white;
  opacity: 0;
  transition: all linear 0.5s;
}
.message-error.invalid {
  opacity: 1;
}

.styles {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
}

.line-error {
  height:0;
  border-bottom:1px solid;
}

.line-error.valid {
  border-color: green;
}

.line-error.invalid {
  border-color: red;
}
@media screen and (min-width: 40em) {
  .products--grids {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }

}

@media screen and (min-width: 30em) {
  .products--grids {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }

}
